body {
    background-color: black;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.post {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    padding: 0px;
}

img {
max-width: 100%;
height: auto;
text-align: center;
width: 100%;
margin-bottom: 15px;
padding-bottom: 0;
margin-top: 0%;

}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

.post-header i {
    display: contents;
}
h3 {
    position: absolute;
    margin-left: 16px;
    margin-top: 38px;
}

.post-body {
    margin-right: 5px;
}


i.far.fa-bookmark.fa-lg {
    position: absolute;
    text-align: right;
    left: 900px;
}
